body {
  min-width: 320px;
  &.hidden {
    overflow: hidden !important;
  }
}

* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  min-width: 0px;
  min-height: 0px;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}
button,
input,
textarea,
select {
  outline: none;
  display: block;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  appearance: none;
  padding: 0;
  border-radius: 0;
  color: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
textarea {
  resize: none;
}
a,
button,
label {
  user-select: none;
  -webkit-user-drag: none;
  cursor: pointer;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
table {
  border-collapse: collapse;
}
a {
  text-decoration: none;
  color: inherit;
}

@include media-breakpoint-up(xl) {
}
//captcha
.captcha {
  min-height: 200px;
}
.sliderContainer {
  position: relative;
  text-align: center;
  line-height: 40px;
  background: #f7f9fa;
  color: #45494c;
  border-radius: 2px;
  user-select: none;
}
.sliderContainer_active .sliderText,
.sliderContainer_success .sliderText,
.sliderContainer_fail .sliderText {
  display: none;
}
.sliderbg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #f7f9fa;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #e6e8eb;
}
.sliderMask {
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  // width: 40px;
  border: 0 solid #1991fa;
  background: #d1e9fe;
  border-radius: 2px;
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: #fff;
    box-shadow: 0 0 3px rgb(0 0 0 / 30%);
    cursor: pointer;
    transition: background .2s linear;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
}
.sliderText {
  position: relative;
  font-size: 14px;
  font-weight: 100;
}
.slidercaptcha {
  margin: 0 auto;
  width: 314px;
  height: 286px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.125);
  margin-top: 40px;
}

.slidercaptcha .card-body {
  padding: 1rem;
}

.slidercaptcha canvas:first-child {
  border-radius: 4px;
  border: 1px solid #e6e8eb;
}

.slidercaptcha.card .card-header {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.03);
}

.refreshIcon {
  top: -54px;
}
.captcha {
  .block {
    position: absolute;
    left: 0;
    top: 0;
  }
}
