.screen {
  min-height: 100vh;
}

.home-screen {
  padding: 84px 0 40px 0;
  display: flex;
  .background-figure {
    &_1 {
      left: -950px;
      top: -200px;
    }
    &_2 {
      right: -500px;
      top: 0;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__center {
    flex: 1 1 auto;
    display: flex;
    align-content: stretch;
  }
  &__image {
    img {
      display: block;
      height: 350px;
      width: auto;
      flex-shrink: 0;
    }
  }
  &__title {
    margin-top: 0;
  }
  &__bottom {
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
  }
  &__bottom-label {
    display: block;
  }
  &__link-element {
    display: block;
    width: 300px;
    .icon {
      display: block;
      width: 100%;
      height: auto;
      filter: grayscale(100%);
      transition: filter $trs1;
    }
    &[data-touch], &[data-hover] {
      .icon {
        filter: grayscale(0);
      }
    }
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }
  @include media-breakpoint-up(sm) {
    &__label {
      display: none;
    }
    &__image {
      display: flex;
      align-items: center;
      padding-top: 60px;
      padding-bottom: 60px;
    }
    &__text {
      padding-bottom: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  @include media-breakpoint-down(md) {
    .background-figure {
      &_1 {
        left: -250px;
        top: -100px;
      }
      &_2 {
        right: -200px;
        top: initial;
        bottom: -150px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 67px 0 30px 0;
    &__bottom-label {
      display: none;
    }
    &__bottom {
      justify-content: center;
    }
    &__link-element {
      width: 260px;
    }
    &__center {
      align-content: center;
      padding: 35px 0;
    }
    &__image {
      margin-bottom: 35px;
      img {
        height: 53vw;
      }
    }
    &__label {
      display: block;
      margin-bottom: 12px;
    }
  }
}

.section-form {
  margin-top: -40px;
  margin-bottom: var(--margin-1);
  .background-figure {
    &_1 {
      right: -800px;
      bottom: -750px;
    }
  }
  &__image {
    position: relative;
    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    img {
      position: absolute;
      width: 115%;
      height: 115%;
      object-fit: cover;
      top: -7%;
      left: -7%;
    }
  }
  &__text {
    margin-top: -60px;
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }
  @include media-breakpoint-down(md) {
    .background-figure {
      &_1 {
        right: -250px;
        bottom: -300px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    margin-top: -30px;
    &__text {
      margin-top: 60px;
      text-align: center;
    }
  }
}

.section-video-animation {
  color: var(--color-text-light);
  &__inner {
    height: 100vh;
    display: flex;
  }
  &__scene {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: transparent;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 2;
      background: rgba(0, 0, 0, 0.3);
    }
  }
  &__container {
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 2;
    .row {
      height: 50%;
      width: calc(100% + var(--container-gutter-x));
      flex-direction: column;
      position: relative;
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 0;
    margin-top: -0.5em !important;
    flex: 0 0 auto;
    color: inherit;
    pointer-events: all;
  }
  &__text {
    align-self: stretch;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    pointer-events: all;
  }
  @include media-breakpoint-up(lg) {
    position: relative;
    z-index: 2;
    margin-bottom: 2000px;
    margin-top: -33vh;
    pointer-events: none;
    &__scene {
      img {
        display: none;
      }
      canvas {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;    
        transform: translate(-50%, -50%);
      }
    }
  }
  @include media-breakpoint-down(lg) {
    margin-bottom: var(--margin-1);
    &__inner {
      height: 600px;
    }
    &__title {
      margin-top: 0 !important;
      position: absolute;
      width: 100%;
      bottom: calc(100% + 40px);
    }
    &__scene {
      canvas {
        display: none;
      }
      &:after {
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }
  @include media-breakpoint-down(md) {
    text-align: center;
    &__inner {
      height: 100vh;
    }
  }
}

.section-technologies {
  .background-figure {
    &_1 {
      top: 400px;
      left: -900px;
    }
    &_2 {
      top: -900px;
      right: -900px;
    }
  }
  &__container {
    &>.row {
      position: relative;
      justify-content: space-between;
    }
  }
  @include media-breakpoint-up(lg) {
    margin-top: -33vh;
  }
  @include media-breakpoint-between(md, lg) {
    &__container {
      &>.row {
        display: block;
        column-count: 2;
        column-gap: 140px;
        margin: 0;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    .background-figure {
      &_1 {
        top: -430px;
        left: -400px;
      }
      &_2 {
        left: 0;
        top: initial;
        bottom: 0;
      }
    }
  }
  @include media-breakpoint-down(md) {
    .background-figure {
      &_1 {
        top: -200px;
        left: -200px;
      }
      &_2 {
        bottom: 1400px;
        left: 100px;
      }
    }
    &__container {
      &>.row {
        margin: 0;
      }
    }
  }
}

.technologies-block {
  &_1 {
    order: 1;
  }
  &_2 {
    order: 2;
  }
  &_3 {
    order: 3;
  }
  &_4 {
    order: 6;
  }
  &_5 {
    order: 5;
  }
  &__title {
    margin-bottom: 10px;
  }
  &__image {
    margin-bottom: var(--margin-3);
    .image {
      &::before {
        content: '';
        display: block;
      }
    }
    &_1 {
      .image {
        &::before {
          padding-top: 136%;
        }
      }
    }
    &_2 {
      .image {
        &::before {
          padding-top: 115%;
        }
      }
    }
    &_3 {
      .image {
        &::before {
          padding-top: 120%;
        }
      }
    }
    &_4 {
      .image {
        &::before {
          padding-top: 130%;
        }
      }
    }
    &_5 {
      .image {
        &::before {
          padding-top: 106%;
        }
      }
    }
  }
  &__button {
    margin-top: var(--margin-3);
  }
  &__gift {
    margin-top: 15px;
  }
  @include media-breakpoint-up(lg) {
    &_2, &_4 {
      margin-top: var(--margin-1);
    }
    &_3, &_5 {
      margin-top: calc(var(--margin-1) + var(--margin-1));
    }
    &_3 {
      position: absolute;
      right: 0;
    }
  }
  @include media-breakpoint-between(md, lg) {
    padding: 0;
    width: 100%;
    break-inside: avoid;
    padding-left: 0;
    padding-right: 0;
    &:not(:first-child) {
      padding-top: var(--margin-1);
      margin-top: 0;
    }
  }
  @include media-breakpoint-down(md) {
    padding: 0;
    &_4 {
      order: 5;
    }
    &_5 {
      order: 6;
    }
    &:not(:first-child) {
      margin-top: 100px;
    }
    &__container {
      @include make-row();
    }
    &__image {
      &_1, &_3, &_5 {
        @include make-col-ready();
        @include make-col(7);
        @include make-col-offset(1);
      }
      &_2, &_4 {
        @include make-col-ready();
        @include make-col(7);
        @include make-col-offset(3);
      }
    }
    &__content {
      &_1, &_3, &_5 {
        @include make-col-ready();
        @include make-col(9);
        @include make-col-offset(1);
      }
      &_2, &_4 {
        @include make-col-ready();
        @include make-col(9);
        @include make-col-offset(3);
      }
    }
  }
} 

.section-animated {
  @include media-breakpoint-up(lg) {
    margin-top: -33vh;
    pointer-events: none;
    &__head {
      height: 100vh;
      margin-bottom: 1000px;
    }
    &__content {
      pointer-events: all;
      margin-top: -33vh;
    }
  }
  @include media-breakpoint-down(lg) {
    &__head {
      margin: 250px 0;
    }
  }
  @include media-breakpoint-down(md) {
    &__head {
      margin: 200px 0;
    }
  }
}

.animated-head {
  text-align: center;
  pointer-events: none;
  display: flex;
  &__container {
    pointer-events: all;
    margin: auto;
  }
  &__sub-title {
    color: var(--color-sub-title);
    margin-bottom: 15px;
  }
  &__title {
    margin: 0;
  }
  @include media-breakpoint-down(xl) {
    &__sub-title {
      margin-bottom: 10px;
    }
  }
  @include media-breakpoint-down(md) {
    &__sub-title {
      margin-bottom: 5px;
    }
  }
}

.contact-form {
  margin-bottom: 250px;
  .background-figure {
    &_1 {
      bottom: -800px;
      left: -1200px;
    }
    &_2 {
      bottom: -200px;
      right: -1400px;
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 80px;
    &-element {
      color: var(--color-accent);
      font-weight: 600;
    }
  }
  &__form {
    justify-content: center;
  }
  @include media-breakpoint-down(xxl) {
    margin-bottom: 220px;
  }
  @include media-breakpoint-down(xl) {
    margin-bottom: 125px;
    .background-figure {
      &_1 {
        bottom: 0;
        left: -800px;
      }
      &_2 {
        bottom: -800px;
        right: -800px;
      }
    }
    &__title {
      margin-bottom: 60px;
    }
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 100px;
    .background-figure {
      &_1 {
        bottom: initial;
        top: 80px;
        left: -250px;
      }
      &_2 {
        bottom: -250px;
        right: -250px;
      }
    }
    &__title {
      margin-bottom: 40px;
    }
  }
}

.contacts-block {
  z-index: 2;
  &__top {
    padding: var(--margin-1) 0;
    background-color: var(--color-bg-section-dark);
    position: relative;
    z-index: 2;
    .row {
      align-items: flex-start;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: var(--margin-3);
    }
  }
  &__phone {
    transition: color $trs1;
    &[data-touch], &[data-hover] {
      color: var(--color-text);
    }
  }
  &__image {
    &::before {
      content: '';
      display: block;
      padding-top: 56.1%;
    }
  }
  &__link {
    border-width: 0 0 2px 0;
    white-space: nowrap;
  }
  &__text {
    position: relative;
  }
  &__map {
    height: 600px;
    position: relative;
    background-color: var(--color-background-unloaded);
    z-index: 1;
    &-loader {
      position: absolute;
      width: 80px;
      height: 80px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &-element {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }
  @include media-breakpoint-up(xl) {
    &__text {
      margin-top: 12px;
    }
    &__image {
      position: absolute;
      top: calc(100% + 50px);
      width: calc(100% - 24px);
    }
  }
  @include media-breakpoint-down(xxl) {
    &__map {
      height: 450px;
    }
  }
  @include media-breakpoint-down(xl) {
    &__top {
      padding: 120px 0;
    }
    &__image {
      margin-top: 50px;
      margin-bottom: -200px;
    }
    &__contacts {
      margin-bottom: 80px;
    }
  }
  @include media-breakpoint-down(md) {
    &__top {
      padding: 60px 0;
    }
    &__contacts {
      margin-bottom: 55px;
    }
    &__map {
      height: 300px;
      &-loader {
        width: 60px;
        height: 60px;
      }
    }
    &__text {
      font-size: 0.875rem;
    }
    &__image {
      margin-top: 30px;
      margin-bottom: -120px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__link, &__phone {
      font-size: 6.8vw;
    }
  }
}

.section-3d {
  padding-bottom: 14875px;
  &__container {
    height: 100vh;
    position: relative;
  }
  &__scene {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    &-inner {
      --width: 1500px;
      --height: 842px;
      --left: 50.5%;
      --top: 52%;
      position: absolute;
      top: var(--top);
      left: var(--left);
      transform: translate(-50%, -50%);
      width: var(--width);
      height: var(--height);
    }
    &-canvas {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    canvas {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;    
      transform: translate(-50%, -50%);
    }
  }
  @include media-breakpoint-down(xxl) {
    &__scene {
      &-inner {
        --width: 1018px;
        --height: 570px;
      }
    }
  }
  @include media-breakpoint-down(xl) {
    &__scene {
      &-inner {
        --width: 768px;
        --height: 432px;
        --top: 42%;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.section-3d-screen {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.section-3d-screen-1 {
  .container {
    height: 100%;
  }
  &__row {
    align-items: center;
  }
  &__title {
    position: absolute;
    top: calc((100% - 410px)/4);
    width: 100%;
    transform: translateY(-50%);
  }
  &__text {
    position: absolute;
    width: calc(100% - 48px);
    bottom: calc((100% - 410px)/4);
    transform: translateY(50%);
    font-size: 1rem;
    color: var(--color-text-accent);
  }
  &__link-container {
    display: flex;
    justify-content: flex-end;
  }
  &__link {
    display: block;
    position: relative;
    width: 400px;
    .item-message {
      position: absolute;
      right: 0;
      bottom: calc(100% + 15px);
      text-align: right;
    }
    &[data-touch], &[data-hover] {
      .icon {
        filter: grayscale(0);
      }
      .item-message {
        opacity: 1;
        visibility: visible;
        transform: translate(0);
      }
    }
    .icon {
      filter: grayscale(100%);
      transition: filter $trs1;
      display: block;
      width: 100%;
      height: auto;
    }
  }
  @include media-breakpoint-down(xxl) {
    &__title {
      top: 28px;
      transform: translate(0);
    }
    &__text {
      bottom: calc((100% - 280px)/4);
    }
    &__link {
      width: 300px;
    }
  }
  @include media-breakpoint-down(xl) {
    &__title {
      top: calc(42% + 140px);
    }
    &__text {
      bottom: 28px;
      transform: translate(0);
    }
  }
}

.section-3d-screen-2 {
  background-color: rgba(255, 255, 255, 0.7);
}

.section-3d-screen-layout {
  &__container {
    height: 100%;
    .row {
      height: 100%;
      align-items: center;
    }
  }
}

.section-3d-screen-3 {
  .container {
    height: 100%;
  }
  .row {
    height: 100%;
    position: relative;
  }
  &__text {
    position: absolute;
    bottom: 20%;
  }
}

.section-3d-screen-6 {
  .container {
    height: 100%;
  }
  .row {
    height: 100%;
    position: relative;
  }
  &__text {
    position: absolute;
    bottom: 15%;
  }
}

.section-3d-dots {
  opacity: 0;
  visibility: hidden;
  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__item {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-top: -30px;
    margin-left: -30px;
    background-color: var(--color-dots-bg);
    transition: background-color $trs1;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      top: 20px;
      left: 20px;
      background-color: var(--color-dots-dot-bg);
    }
    &[data-touch], &[data-hover] {
      background-color: var(--color-dots-bg-hover);
      .section-3d-dots__item-message-container {
        opacity: 1;
        visibility: visible;
        transform: translate(0);
      }
    }
    &-message {
      position: absolute;
      z-index: 2;
      width: 100vw;
      left: 100%;
      top: 100%;
      pointer-events: none;
      text-align: left;
    }
    &-message-container {
      display: inline-flex;
      max-width: 420px;
      background-color: var(--color-dots-message-bg);
      color: var(--color-text-accent);
      padding: 20px 26px;
      border-radius: 10px;
      transform: translateY(10px);
      opacity: 0;
      visibility: hidden;
      transition: transform $trs1, opacity $trs1, visibility $trs1;
    }
    &_1 {
      left: 43%;
      top: 46%;
    }
    &_2 {
      left: 45%;
      top: 70%;
    }
    &_3 {
      left: 38.5%;
      top: 42.7%;
    }
    &_4 {
      left: 32.7%;
      top: 48.5%;
    }
    &_5 {
      left: 53%;
      top: 46.5%;
    }
    &_6 {
      left: 33.5%;
      top: 65%;
    }
    &_7 {
      left: 21.3%;
      top: 50.5%;
    }
    &_8 {
      left: 40.7%;
      top: 52%;
    }
    &_9 {
      left: 21.6%;
      top: 39%;
    }
    &_10 {
      left: 61%;
      top: 46%;
    }
    &_11 {
      left: 49%;
      top: 32%;
    }
  }
  @include media-breakpoint-down(xxl) {
    &__item {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      margin-top: -20px;
      margin-left: -20px;
      &::before {
        width: 16px;
        height: 16px;
        border-radius: 16px;
        top: 12px;
        left: 12px;
      }
    }
  }
}

.item-message {
  width: 100vw;
  pointer-events: none;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: transform $trs1, opacity $trs1, visibility $trs1;
  &__container {
    display: inline-flex;
    max-width: 420px;
    background-color: var(--color-dots-message-bg);
    color: var(--color-text-accent);
    padding: 20px 26px;
    border-radius: 10px;
    text-align: left;
  }
}

.section-choose-models {
  .background-figure {
    &_1 {
      left: -200px;
      top: 400px;
    }
  }
  &__more {
    text-align: center;
    margin-top: var(--margin-2);
  }
  @include media-breakpoint-up(lg) {
    margin-top: -33vh;
  }
  @include media-breakpoint-down(lg) {
    .background-figure {
      &_1 {
        left: -285px;
        top: -610px;
      }
    }
    &__more {
      margin-top: 60px;
    }
    &__btn {
      color: var(--color-text);
    }
  }
  @include media-breakpoint-down(md) {
    .background-figure {
      &_1 {
        left: 20px;
        top: -195px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .background-figure {
      &_1 {
        left: 50%;
        transform: translateX(-50%);
        top: -190px;
      }
    }
  }
}

.desktop-models-list {
  position: relative;
  z-index: 2;
  &__items {
    margin: -45px 0;
  }
  &__images {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    pointer-events: none;
  }
  &__image {
    position: absolute;
    overflow: hidden;
    width: 330px;
    height: 420px;
    margin-left: -165px;
    margin-top: -210px;
    background-color: #fff;
    transition: visibility $trs1, opacity $trs1, width $trs1out, height $trs1out, margin $trs1out;
    opacity: 0;
    visibility: hidden;
    &.active {
      opacity: 1;
      visibility: visible;
    }
    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      transition: visibility $trs1, opacity $trs1;
      background-color: transparent;
      &.active {
        opacity: 0.7;
        visibility: visible;
      }
    }
    &.click {
      height: 380px;
      width: 300px;
      margin-left: -150px;
      margin-top: -190px;
      .image.active {
        opacity: 0.9;
      }
    }
  }
  @include media-breakpoint-down(xxl) {
    &__items {
      margin: -40px 0;
    }
  }
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.mobile-models-slider {
  --slider-height: 600px;
  &__slide {
    text-align: center;
  }
  &__slide-image {
    height: var(--slider-height);
    margin-bottom: calc(var(--margin-3) + var(--margin-3) + 6px);
  }
  &__slide-title {
    margin: 0 0 25px 0;
  }
  &__slide-text {
    margin: 0 0 var(--margin-3) 0;
  }
  .swiper-pagination {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    top: calc(var(--slider-height) + var(--margin-3));
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }
  @include media-breakpoint-down(md) {
    --slider-height: 500px;
  }
  @include media-breakpoint-down(sm) {
    --slider-height: 280px;
    &__slide-title {
      margin: 0 0 20px 0;
    }
  }
}

.pool-model-item {
  display: block;
  padding: 45px 0;
  &:not(:last-child) {
    border-bottom: 1px solid var(--color-borders);
  }
  &__title {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
  }
  &__description, &__title {
    transition: color $trs2;
  }
  &__container {
    align-items: center
  }
  &.disabled {
    .pool-model-item__title,
    .pool-model-item__description {
      color: var(--color-text-muted);
    }
  }
  &.active {
    .pool-model-item__title,
    .pool-model-item__description {
      transition: color $trs1;
    }
    .pool-model-item__description {
      color: var(--color-text-accent);
    }
  }
  @include media-breakpoint-down(xxl) {
    padding: 40px 0;
  }
}

.colors-slider {
  &__wrapper {
    height: 580px;
    position: relative;
  }
  &__head {
    margin-bottom: var(--margin-2);
  }
  &__navigation {
    display: flex;
  }
  &__line {
    pointer-events: none;
    height: 7px;
    margin-top: -7px;
    position: relative;
    background: linear-gradient(90deg, #418EB5 5.85%, #989DA0 21.37%, #8B8668 35.67%, #2D93CA 49.97%, #C0BBB4 65.58%, #2A4C6B 78.42%, #858C8E 100%);
    .image {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      height: 100%;
      width: calc(50px + #{$field});
      z-index: 2;
    }
    &::before {
      right: calc(100% - 50px);
      background: linear-gradient(89.99deg, #418EB6 89.94%, rgba(65, 142, 182, 0) 99.99%);
    }
    &::after {
      left: calc(100% - 50px);
      background: linear-gradient(270deg, #767F7F 92.45%, rgba(118, 127, 127, 0) 100%);
    }
  }
  &__slider-element {
    position: absolute;
    width: 14.285%;
    height: 100%;
    z-index: 3;
    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      width: 10000px;
      height: 100%;
      top: 0;
    }
    &::after {
      left: calc(100% - 30px);
      background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 75px);
    }
    &::before {
      right: calc(100% - 30px);
      background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 75px);
    }
  }
  &__navigation-trigger {
    width: 14.285%;
    text-align: center;
    color: var(--color-text-muted);
    transition: color $trs1;
    line-height: 42px;
    height: 62px;
    padding-bottom: 20px;
    white-space: nowrap;
    position: relative;
    font-weight: 600;
    &:not(:last-child) {
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 2px;
        height: 42px;
        right: -1px;
        top: 0;
        background-color: var(--color-border-2);
      }
    }
    &[data-touch], &[data-hover], &.active {
      color: var(--color-text-accent);
    }
    &.active {
      pointer-events: none;
    }
  }
  @include media-breakpoint-down(xxl) {
    &__wrapper {
      height: 460px;
    }
  }
  @include media-breakpoint-down(xl) {
    &__wrapper {
      height: 400px;
    }
  }
  @include media-breakpoint-down(lg) {
    margin-bottom: var(--margin-1);
    &__wrapper {
      height: 450px;
    }
    &__line {
      height: 3px;
      margin-top: -3px;
    }
    &__head {
      overflow: hidden;
    }
    &__head-inner {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      padding-bottom: 50px;
      margin-bottom: -50px;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
    &__head-container {
     padding-right: $field;
     padding-left: $field;
     max-width: initial;
     width: calc(1050px + #{$field} + #{$field});
     overflow: hidden;
    }
  }
  @include media-breakpoint-down(sm) {
    &__wrapper {
      height: auto;
    }
    &__navigation-trigger {
      line-height: 20px;
      padding-bottom: 20px;
      height: 40px;
      &:not(:last-child) {
        &::after {
          height: 20px;
        }
      }
    }
    &__head-container {
      padding-right: var(--bs-gutter-x);
      padding-left: var(--bs-gutter-x);
      width: calc(980px + var(--bs-gutter-x) * 2);
    }
    &__line {
      height: 5px;
      margin-top: -5px;
      &::before, &::after {
        width: calc(30px + var(--bs-gutter-x));
      }
      &::before {
        right: calc(100% - 30px);
      }
      &::after {
        left: calc(100% - 30px);
      }
    }
    &__slider-element {
      &::before {
        right: calc(100% - 40px);
        background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 40px);
      }
      &::after {
        left: calc(100% - 40px);
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 40px);
      }
    }
  }
}

.colors-slide {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 330px);
  grid-template-rows: 1fr auto;
  * {
    user-select: none;
  }
  &__element-inner {
    height: 100%;
  }
  &__left {
    height: 100%;
  }
  &__left, &__center {
    grid-row: 1/3;
  }
  &__text {
    grid-column: 3/4;
    margin-top: 65px;
  }
  &__button {
    color: #fff;
    transition: opacity $trs1;
    margin-top: var(--margin-3);
    &[data-touch], &[data-hover] {
      opacity: 0.7;
    }
    &_style-1 {
      background-color: #28AAC5;
    }
    &_style-2 {
      background-color: #56B0B6;
    }
    &_style-3 {
      background-color: #76BCAF;
    }
    &_style-4 {
      background-color: #3D9FCB;
    }
    &_style-5 {
      background-color: #5EAEB9;
    }
    &_style-6 {
      background-color: #176DA1;
    }
    &_style-7 {
      background-color: #1E7E8C;
    }
  }
  &__center {
    position: relative;
  }
  &__back {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    .image {
      position: absolute;
      width: calc(100% - 2px);
      height: 100%;
      top: 0;
      left: 1px;
    }
  }
  &__back-title {
    height: 100%;
    display: flex;
    align-items: center;
    color: #000;
    background-color: #fff;
    mix-blend-mode: screen;
  }
  &__front {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &__front-container {
    height: 100%;
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    .image {
      position: absolute;
      width: calc(100% - 20px);
      height: 100%;
      top: 0;
      left: 10px;
    }
  }
  &__title {
    padding: 0 10px;
  }
  &__title-element {
    white-space: nowrap;
    margin: 0;
    position: relative;
    z-index: 2;
    color: inherit;
    &_1 {
      transform: translateX(0.04em);
    }
  }
  &__front-title {
    color: var(--color-text-light);
  }
  @include media-breakpoint-down(xxl) {
    grid-template-columns: repeat(3, 282px);
    &__text {
      margin-top: 50px;
    }
  }
  @include media-breakpoint-down(xl) {
    grid-template-columns: repeat(3, 210px);
    &__text {
      margin-top: 30px;
    }
  }
  @include media-breakpoint-down(lg) {
    grid-template-columns: 210px 320px 210px;
    left: 50%;
    transform: translateX(-50%);
    width: 908px;
    &__text {
      grid-column: 2/3;
      margin-top: 35px;
      text-align: center;
    }
    &__center {
      grid-row: 1/2;
      width: 210px;
      margin: 0 auto;
    }
    &__right {
      grid-row: 1/3;
    }
    &__button {
      margin-top: 40px;
      width: 210px;
    }
  }
  @include media-breakpoint-down(sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    height: auto;
    &__left, &__center, &__right {
      width: 120px;
      height: 195px;
    }
    &__text {
      width: 100vw;
      padding: 0 var(--bs-gutter-x);
      margin-top: var(--margin-2);
    }
    &__button {
      margin-top: var(--margin-3);
      width: auto;
    }
    &__title-element {
      font-size: 2rem;
    }
  }
}

.models-slider {
  &__top-slide {
    display: block;
    position: relative;
    &::before {
      content: '';
      display: block;
      padding-top: 67%;
    }
  }
  &__bottom {
    display: flex;
    width: calc(100% + 10px);
    margin-top: 20px;
  }
  &__bottom-image {
    position: relative;
    width: calc(20% - 10px);
    margin-right: 10px;
    &::before {
      content: '';
      display: block;
      padding-top: 67%;
      transition: border-color $trs1;
      border: 4px solid transparent;
      position: relative;
      z-index: 2;
    }
    &.is-active {
      &::before {
        border-color: var(--color-accent);
      }
    }
  }
  @include media-breakpoint-down(xxl) {
    &__bottom {
      margin-top: var(--margin-3);
      justify-content: center;
    }
  }
  @include media-breakpoint-down(sm) {
    &__top {
      .swiper-container {
        margin: 0 calc(var(--container-gutter-x) * #{-1});
        padding: 0 var(--container-gutter-x);
      }
    }
  }
}

.section-preview {
  &__full-screen-image {
    height: 100vh;
    position: relative;
    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  &__small-image {
    .image {
      &::before {
        content: '';
        display: block;
      }
    }
    &_1 {
      margin-top: -150px;
      .image {
        &::before {
          padding-top: 148%;
        }
      }
    }
    &_2 {
      margin-top: 250px;
      .image {
        &::before {
          padding-top: 120%;
        }
      }
    }
    &_3 {
      margin-top: 170px;
      .image {
        &::before {
          padding-top: 78%;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    margin-top: -100vh;
    &__small-images-container {
      &>.row {
        justify-content: space-between;
      }
    }
  }
  @include media-breakpoint-down(xxl) {
    &__small-image {
      &_1 {
        margin-top: -140px;
      }
      &_2 {
        margin-top: 220px;
      }
      &_3 {
        margin-top: 140px;
      }
    }
  }
  @include media-breakpoint-down(xl) {
    &__small-image {
      &_1 {
        margin-top: -140px;
      }
      &_2 {
        margin-top: 120px;
      }
      &_3 {
        margin-top: 60px;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    &__full-screen-image {
      height: 600px;
    }
    &__small-image {
      &_1 {
        margin-top: -100px;
      }
      &_2 {
        margin-top: 100px;
        order: 3;
      }
      &_3 {
        margin-top: 150px;
        order: 2;
      }
    }
  }
  @include media-breakpoint-down(md) {
    &__full-screen-image {
      height: 500px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__full-screen-image {
      height: 280px;
    }
    &__small-image {
      &_1 {
        margin-top: -40px;
      }
      &_2 {
        margin-top: 65px;
      }
      &_3 {
        margin-top: 65px;
      }
    }
  }
}

.section-layouts {
  .swiper-container {
    margin: 0 calc(var(--bs-gutter-x) / -2);
  }
  &__slide {
    text-align: center;
    padding: 0 calc(var(--bs-gutter-x) / 2);
  }
  &__images {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    &::before {
      content: '';
      display: block;
      padding-top: 89.2%;
    }
  }
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .swiper-pagination {
    justify-content: center;
    margin-bottom: 30px;
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }
  @include media-breakpoint-down(sm) {
    .swiper-container {
      overflow: visible;
    }
    &__images {
      margin-bottom: 26px;
      &::before {
        padding-top: 118%;
      }
    }
    &__image {
      height: 105%;
      width: 141%;
    }
  }
}