.button {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  transition: color $trs1, background-color $trs1;
  line-height: 56px;
  padding: 0 30px;
  border-radius: 28px;
  font-size: 1rem;
  font-weight: 700;
  &_style-1 {
    color: var(--color-button-1);
    background-color: var(--color-button-bg-1);
    &[data-touch], &[data-hover] {
      color: var(--color-button-2);
    background-color: var(--color-button-bg-2);
    }
  }
  &_style-2 {
    color: var(--color-button-2);
    background-color: var(--color-button-bg-2);
    &[data-touch], &[data-hover] {
      color: var(--color-button-1);
    background-color: var(--color-button-bg-1);
    }
  }

  &_loader {
    span, svg {
      transition: opacity $trs1;
    }
    svg {
      position: absolute;
      height: 10px;
      width: 60px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      color: inherit;
      opacity: 0;
    }
    &.loading {
      pointer-events: none;
      span {
        opacity: 0;
      }
      svg {
        opacity: 1;
      }
    }
  }
}

.btn-link {
  color: var(--color-accent);
  display: inline-flex;
  position: relative;
  &::after,
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(100% + 2px);
    width: 100%;
    height: 2px;
    background: currentColor;
    pointer-events: none;
  }
  &::after {
    transition: transform .25s $out .35s;
  }
  &::before {
    transform: translateX(-50%) scaleX(0);
    transition: transform .35s $in;
  }
  &[data-touch], &[data-hover] {
    &::after {
      transition: transform .25s $in;
      transform: translateX(50%) scaleX(0);
    }
    &::before {
      transition: transform .35s $out .25s;
      transform: translateX(0) scaleX(1);
    }
  }
}