:root {
  --content-width: #{map-get($container-max-widths, xxl)};
  --container-gutter-x: 24px;
  --margin-1: 250px;
  --margin-2: 85px;
  --margin-3: 30px;
  @include media-breakpoint-down(xxl) {
    --content-width: #{map-get($container-max-widths, xl)};
    --margin-1: 220px;
    --margin-2: 75px;
  }
  @include media-breakpoint-down(xl) {
    --content-width: #{map-get($container-max-widths, lg)};
    --margin-2: 60px;
    --margin-3: 25px;
  }
  @include media-breakpoint-down(lg) {
    --content-width: #{map-get($container-max-widths, md)};
  }
  @include media-breakpoint-down(md) {
    --content-width: #{map-get($container-max-widths, sm)};
    --container-gutter-x: 16px;
    --margin-1: 140px;
    --margin-2: 45px;
  }
}

* {
  @include media-breakpoint-up(md) {
    --bs-gutter-x: 24px !important;
  }
  @include media-breakpoint-down(md) {
    --bs-gutter-x: 16px !important;
  }
}