.footer {
  flex-shrink: 0;
  background-color: var(--color-bg-section-dark);
  font-size: 1rem;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include media-breakpoint-down(xxl) {
    padding-top: 75px;
  }
}