.footer {
  flex-shrink: 0;
  background-color: var(--color-bg-section-dark);
  font-size: 1rem;
  padding: var(--margin-2) 0 var(--margin-3) 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include media-breakpoint-down(lg) {
    font-size: 0.875rem;
    text-align: center;
  }
  @include media-breakpoint-down(md) {
    &__container {
      flex-direction: column;
    }
    &__copyright {
      margin-bottom: var(--margin-3);
    }
  }
}