.header {
  flex-shrink: 0;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 56px;
  z-index: 1000;
  pointer-events: none;
  &-phone {
    color: var(--color-text-accent);
    font-size: 1rem;
    transition: color $trs1;
    pointer-events: all;
    &[data-touch], &[data-hover] {
      color: var(--color-text);
    }
  }
  &__phone {
    margin-right: 27px;
  }
  .logo, .button {
    pointer-events: all;
  }
  @include media-breakpoint-up(sm) {
    &__mobile-trigger {
      display: none;
    }
  }
  @include media-breakpoint-down(xxl) {
    padding: 24px;
  }
  @include media-breakpoint-down(lg) {
    padding: 28px $field;
  }
  @include media-breakpoint-down(md) {
    padding: 17px 24px;
  }
  @include media-breakpoint-down(sm) {
    &__right {
      display: none;
    }
    &__mobile-trigger {
      pointer-events: all;
      display: flex;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      cursor: pointer;
      background-color: var(--color-modal-close-bg);
      color: var(--color-modal-close);
      transition: background-color $trs1, color $trs1;
      .icon {
        margin: auto;
        width: 22px;
        height: 22px;
        display: block;
      }
      &[data-touch], &[data-hover] {
        background-color: var(--color-modal-hover-close-bg);
        color: var(--color-modal-hover-close);
      }
    }
  }
}

.logo {
  width: 230px;
  filter: grayscale(1);
  opacity: 0.85;
  transition: filter $trs1, opacity $trs1;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  &[data-touch], &[data-hover] {
    opacity: 1;
    filter: grayscale(0);
  }
  @include media-breakpoint-down(xxl) {
    width: 160px;
  }
  @include media-breakpoint-down(sm) {
    width: 150px;
  }
}

.modal-nav {
  &__phone {
    position: absolute;
    left: 24px;
    top: 32px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__button {
    min-width: 194px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}