.header {
  flex-shrink: 0;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  z-index: 1000;
  pointer-events: none;
  &__phone {
    margin-right: 27px;
    color: var(--color-text-accent);
    font-size: 1rem;
    transition: color $trs1;
    pointer-events: all;
    &[data-touch], &[data-hover] {
      color: var(--color-text);
    }
  }
  .logo, .button {
    pointer-events: all;
  }
  @include media-breakpoint-down(xxl) {
    padding: 24px;
  }
}