.wrapper {
  overflow: hidden;
  &[data-scrollbar="true"] {
    height: 100%;
    .scroll-content {
      min-height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  &:not([data-scrollbar="true"]) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

.main {
  flex: 1 1 100%;
  overflow: hidden;
}
.section {
  position: relative;
}
.container {
  position: relative;
}

@include media-breakpoint-down(md) {
  .container {
    padding-right: $mobile-container-padding-x;
    padding-left: $mobile-container-padding-x;
  }
  .row {
    margin-left: calc(#{$mobile-grid-gutter-width} / -2);
    margin-right: calc(#{$mobile-grid-gutter-width} / -2);
  }
  .row > * {
    padding-left: calc(#{$mobile-grid-gutter-width} / 2);
    padding-right: calc(#{$mobile-grid-gutter-width} / 2);
  }
}