.modal {
  position: fixed;
  z-index: 3000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--color-modal-back-background);
  display: none;
  &.active {
    display: block;
  }
  .scroll-content {
    min-height: 100%;
    display: flex;
    .modal__wrapper {
      height: initial;
    }
  }
  &__wrapper {
    position: relative;
    z-index: 1;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: flex;
    padding: var(--margin-2) 0;
  }
  &__container {
    display: flex;
  }
  &-close {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    z-index: 2;
    cursor: pointer;
    right: 24px;
    top: 20px;
    background-color: var(--color-modal-close-bg);
    transition: background-color $trs1;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 3px;
      width: 29px;
      background-color: var(--color-modal-close);
      transition: background-color $trs1;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &[data-touch], &[data-hover] {
      background-color: var(--color-modal-hover-close-bg);
      &:before, &:after {
        background-color: var(--color-modal-hover-close);
      }
    }
  }
  &-block {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: var(--margin-2) var(--container-gutter-x);
    background-color: var(--color-modal-background);
  }
  @include media-breakpoint-up(lg) {
    &-block {
      border-radius: 10px;
    }
    &__container {
      display: flex;
      margin: auto;
      & > .row {
        width: calc(100% + var(--container-gutter-x));
        justify-content: center;
        align-items: center;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    &-block {
      background-color: transparent;
      padding: 106px $field var(--margin-2) $field;
      position: initial;
      transform: translate(0) !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      & > .row {
        width: calc(100% + var(--container-gutter-x));
      }
    }
    &-close {
      right: $field;
      top: 28px;
    }
    &__wrapper {
      padding: 0;
      background-color: var(--color-modal-background);
    }
    &__container {
      padding: 0;
      max-width: 100%;
      & > .row {
        margin: 0;
        width: 100%;
        & > * {
          padding: 0;
          display: flex;
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    &-block {
      padding: 84px $field var(--margin-2) $field;
    }
    &-close {
      right: 24px;
      top: 17px;
    }
  }
  @include media-breakpoint-down(sm) {
    &-block {
      padding: 84px var(--container-gutter-x) var(--margin-2) var(--container-gutter-x);
    }
  }
}


.modal-succes {
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 440px;
  }
  &__title {
    color: var(--color-accent);
    margin-top: 0;
  }
  @include media-breakpoint-down(xxl) {
    &__block {
      min-height: 380px;
    }
  }
}

.modal-model {
  &__head {
    align-items: center;
    margin-bottom: 56px;
  }
  &__head-text {
    padding-left: 36px;
  }
  &__button {
    margin-top: 80px;
  }
  &__description {
    padding-left: 36px;
  }
  @include media-breakpoint-up(lg) {
    &__title {
      margin-bottom: 0;
    }
  }
  @include media-breakpoint-down(xxl) {
    &__button {
      margin-top: 60px;
    }
  }
  @include media-breakpoint-down(xl) {
    &__description, &__head-text {
      padding-left: 24px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__head {
      margin-bottom: var(--margin-2);
    }
    &__head-text, &__description {
      padding-left: calc(var(--bs-gutter-x) / 2);
    }
    &__slider {
      margin-bottom: var(--margin-2);
    }
    &__button {
      margin-top: var(--margin-2);
      text-align: center;
    }
  }

  @include media-breakpoint-down(sm) {
    &__table {
      table {
        min-width: 620px;
      }
    }
  }
}

.modal-shema {
  &__image {
    &::before {
      content: '';
      display: block;
      padding-top: 65.7%;
    }
  }
}