include ../blocks/variables
block variables
doctype html
html(lang='ru')
  head
    meta(charset="utf-8")
    title #{sitename} - Композитные бассейны премиум качества
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='format-detection' content='telephone=no')
    meta(name='description' content='Композитные бассейны премиум качества')
    //color
    meta(name="theme-color" content="#fff")
    //favicons
    link(rel='apple-touch-icon' sizes='180x180' href='https://compasspools-centr.ru/img/favicons/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='https://compasspools-centr.ru/img/favicons/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='https://compasspools-centr.ru/img/favicons/favicon-16x16.png')
    //open graph
    meta(property='og:title' content='Композитные бассейны премиум качества')
    meta(property='og:site_name' content=sitename)
    meta(property='og:url' content='https://compasspools-centr.ru/') 
    meta(property='og:description' content='Строим со знанием того, зачем бассейны нужны вам, как оптимизировать их конфигурацию под ваши потребности, нужды и как ими пользоваться с максимальной пользой и удовлетворением.')
    meta(property='og:image' content='https://compasspools-centr.ru/img/favicons/apple-touch-icon.png')
    //theme
    link(rel="stylesheet" href="./styles/theme.min.css")

  body(style='overflow:hidden;position:fixed;height:100%;width:100%;')
    include ../blocks/preloader

    .wrapper(style='opacity:0;visibility:hidden;')
      include ../blocks/header
      main.main
        block content
      include ../blocks/footer


    //modals
    include ../blocks/modals

    //cursor
    .cursor(style='opacity:0;visibility:hidden;')
      .cursor__element
        svg.icon.cursor__magnifier
          use(xlink:href='./img/icons/sprite.svg#magnifier')
    
    
    //fonts
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap' rel='stylesheet')
    //styles
    link(rel="stylesheet" href="./scripts/libs/jquery.fancybox/jquery.fancybox.min.css")
    link(rel="stylesheet" href="./styles/common.min.css")
    //js
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='./scripts/libs/jquery.fancybox/jquery.fancybox.min.js')
    script(src="./scripts/app.min.js")