:root {
  --color-text: #8E9B9B;
  --color-text-accent: #3D4545;
  --color-sub-title: #8E9B9B;
  --color-text-light: #fff;
  --color-accent: #4FA6A6;
  --color-text-muted: #C7C7C7;

  --color-main-background: #fff;

  --color-scrollbar: #CECECE;
  --color-scrollbar-modal: #F5F5F5;
  --color-scrollbar-hover: #4FA6A6;

  --color-background-unloaded: #F5F5F5;
  --color-bg-section-dark: #F5F5F5;

  --color-borders: #C7C7C7;
  --color-border-2: #F5F5F5;

  //
  --color-input-bg-1: #F5F5F5;
  --color-input-bg-hover: #E9F7F9;
  --color-input-bg-error: #FAE6E7; 
  --color-input-error: #8E9B9B;
  --color-input-error-message: #E3848A;

  //buttons
  --color-button-1: #FFFFFF;
  --color-button-bg-1: #4FA6A6;
  --color-button-2: #4FA6A6;
  --color-button-bg-2: #E9F7F9;

  //modals
  --color-modal-back-background: rgba(79, 166, 166, 0.6);
  --color-modal-background: #FFFFFF;
  --color-modal-close: #4FA6A6;
  --color-modal-close-bg: #F5F5F5;
  --color-modal-hover-close: #fff;
  --color-modal-hover-close-bg: #4FA6A6;

  //cursor
  --color-cursor-bg: rgba(79, 166, 166, 0.15);
  --color-cursor-bg-click: rgba(79, 166, 166, 0.3);
  --color-cursor-bg-2: rgba(255, 255, 255, 0.5);
  --color-cursor-bg-2-click: rgba(255, 255, 255, 0.7);
}