extends layout/layout
block content
  section.section(style='height:100vh;')


  section.section.section-video-animation
    .section-video-animation__scene
      canvas
    .container.section-video-animation__container
      .row 
        h2.h1.section-video-animation__title Построим за 2 недели
        p.section-video-animation__text.offset-xl-7.offset-xxl-8.col-xxl-4.col-xl-5 На всех этапах мы предлагаем сопровождение объекта и взаимодействие наших специалистов, представителей клиента, самого клиента в единой электронной системе, предназначенной для эффективного взаимодействия, скорости обмена данными и актуализации задач.

  section.section.section-technologies
    .container.section-technologies__container 
      .row
        .technologies-block.col-xl-3
          .technologies-block__image
            .image.image_cover
              img(data-src="", alt="").lazyload


  section.section(style='height:100vh;')