header.header
  a(href="./").logo
    img(src="./img/logos/logo.svg", alt="image")
  .header__right
    a(href="tel:+74957554696").header-phone.header__phone +7 495 755 46 96
    a(href="#modal-form" data-modal='open' data-modal-subject="Форма обратной связи").button.button_style-2 Заказать звонок

  a(href="#modal-nav" data-modal='open').header__mobile-trigger
    svg.icon
      use(xlink:href='./img/icons/sprite.svg#phone')