header.header
  a(href="./").logo
    img(src="./img/logos/logo.svg", alt="image")
  .header__right
    a(href="tel:+79269659259").header-phone.header__phone +7 926 965 92 59
    a(href="#modal-form" data-modal='open' data-modal-subject="Форма обратной связи").button.button_style-2 Заказать звонок

  a(href="#modal-nav" data-modal='open').header__mobile-trigger
    svg.icon
      use(xlink:href='./img/icons/sprite.svg#phone')