.modal.modal-succes#modal-succes(style='opacity:0;visibility:hidden;')
  .modal__wrapper.pt-2.pb-2(data-scroll-lock-scrollable)
    .modal__container.container 
      .row
        .col-xl-6
          .modal-block.modal-succes__block.pt-2.pb-2
            h3.modal-succes__title Спасибо!
            p.modal-succes__text Ваша заявка успешно отправлена