.modal.modal-succes#modal-succes(style='opacity:0;visibility:hidden;')
  .modal__wrapper.pt-2.pb-2(data-scroll-lock-scrollable)
    .modal__container.container 
      .row
        .col-xl-6
          .modal-block.modal-succes__block.pt-2.pb-2
            h3.modal-succes__title Спасибо!
            p.modal-succes__text Ваша заявка успешно отправлена

.modal.modal-text#politics(style='opacity:0;visibility:hidden;')
  .modal__wrapper.pt-2.pb-2(data-scroll-lock-scrollable)
    .modal__container.container 
      .row
        .col-xl-10
          .modal-block.pt-2.pb-2
            button.modal-close(aria-label='close' data-modal='close')
            .row
              .offset-xl-1.col-xl-10
                h5 Политика конфиденциальности
                h6 1. Общие положения
                p Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» (далее - Закон о персональных данных) и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных...

.modal.modal-text#CompassPoolsBiLuminite(style='opacity:0;visibility:hidden;')
  .modal__wrapper.pt-2.pb-2(data-scroll-lock-scrollable)
    .modal__container.container 
      .row
        .col-xl-10
          .modal-block.pt-2.pb-2
            button.modal-close(aria-label='close' data-modal='close')
            .row
              .offset-xl-1.col-xl-10
                h5 Compass Pools Bi-Luminite
                p Когда мы говорим о технологической прочности и надежности бассейна, то в большинстве композитных конструкций самым слабым местом является верхняя оболочка чаши. В это же время она выступает и основой, которая придает бассейну внешний вид и оттенок. Поэтому создание стойкого покрытия с прочной структурой, способного передать глубину цвета воды, является основной задачей производителя.
                h5 Проблемы существующих решения на рынке
                p «Узким горлышком» в поверхности традиционных композитных бассейнов является осмос, который проявляет себя в виде пор и микротрещин на поверхности. Эти микроскопические «прорехи» пропускают споры грибов, микроводоросли, молекулы воды и окислители. В результате на поверхности чаши бассейна появляются пузырьки, подтеки и пятна, которые приобретают бурый или фиолетовый оттенок.
                p Такие пятна образуются как результат реакции кобальта и кислорода, сопровождающимися прорастанием грибковых спор. Такие явления и наличие трещин является прямым свидетельством нарушения технологии изготовления верхнего покрытия бассейна.
                p Микротрещины могут также появляться на поверхности в связи с некачественным монтажом и нарушениями требований производителя при транспортировке. Эксплуатация бассейна предполагает циклические нагрузки при воздействии грунта и воды. При повышении температуры в бассейне до 30 градусов и выше существенно увеличивает вероятность появления осмоса на композитной поверхности.
                figure.image.image_cover.full-size-image 
                  img(data-src="./img/shapeimage_2 3.jpg", alt="image").lazyload
                h5 Технология Bi-luminite
                p После того как на рынке появилась технология Bi-luminite, все вышеуказанные проблемы удалось раз и навсегда упразднить. В некоторых странах с тропическим климатом очень сложно контролировать температуру бассейна в пределах 30 градусов. Это поспособствовало созданию новой технологии, которая позволяет создавать композитную поверхность с уровнем непроницаемости на голову выше, чем у конкурентов. Защита от осмоса позволила избавиться от размножения микроорганизмов.
                p Австралийская компания Compass Pools использует новые технологии, которые исключают образование мелких трещин и пор на поверхности чаши бассейна. Технологические разработки под названием SBR и Ceramic Core обеспечивают настолько высокий уровень защиты, что позволило продлить срок гарантии на изделия до 10 лет. Поверхность имеет глубокий перецвет, что позволяет скрыть любые изъяны на поверхности бассейна, что не было возможным при однотонном окрашивании чаши.
                p Бассейны Bi-luminite можно ремонтировать. Даже в случае сильных повреждений они полностью устраняются после ремонта, который стоит во много раз дешевле, чем покупка нового бассейна.
                figure.row
                  .offset-lg-2.col-lg-8
                    img(data-src="./img/tsveta_chash_0 1.jpg", alt="image").lazyload
                h6 Большой выбор цветов
                p Композитные бассейны удивляют огромным богатством цветовых решений. Главным вдохновением при создании столь широкой цветовой палитры является вода, которая заряжает своей энергией. Производитель хотел передать это же чувство и своим клиентам. Поэтому есть множество вариантов цвета для бассейнов разной глубины, ведь оттенок воспринимается по-разному при разной толще воды.
                p Существующие решения на рынке по окраске поверхности бассейна, к сожалению, могут испортить внешний вид из-за потери глубины и красивого внешнего вида воды.  
                p Специалисты из Compass Pools создали новую цветовую палитру, сконцентрировав свое внимание не на технической поверхности бассейна, а на цвете воды. Поэтому в концепции окрашивания за основу используется природная красота водоемов и красота водной глади, которые подчеркиваются особым оттенком чаши.
                p Таким образом, компании удалось создать не только надежный композитный бассейн, но и гармонирующий с окружающим ландшафтом объект за счет оригинального подхода в окрашивании поверхности, имитирующего натуральную водную гладь и глубину.

.modal.modal-text#Vantage(style='opacity:0;visibility:hidden;')
  .modal__wrapper.pt-2.pb-2(data-scroll-lock-scrollable)
    .modal__container.container 
      .row
        .col-xl-10
          .modal-block.pt-2.pb-2
            button.modal-close(aria-label='close' data-modal='close')
            .row
              .offset-xl-1.col-xl-10
                h5 Система очистки Compass Pools Vantage
                p Во время эксплуатации  на дне бассейна постоянно (особенно в уличном исполнении) скапливается мусор, листья и прочее.. Обычно для уборки используется ручной пылесос или робот пылесос. Ручная уборка требует времени и усилий, что часто не помогает за один раз идеально очистить дно бассейна. Робот же , особенно в бассейнах с множеством элементов ( ступени, ребра жесткости , выступы, ниши), не способен добраться до всех мест.  Отдел разработок компании Compass Pools решил упростить задачу, создав вместе со специалистами компании Paramount®  1993 году  систему автоматической очистки Vantage®, которая поставляется только для бассейнов Compass. Разработка получила несколько патентов в сфере композитных бассейнов.
                figure.image.image_cover.full-size-image 
                  img(data-src="./img/ddsee.jpg", alt="image").lazyload
                h5 Как устроена система очистки Vantage
                p Оборудование включает в себя инновационные решения. Конструкция состоит из устройства с часовым механизмом и многокамерным клапаном, который направляет воду к ротационным форсункам, расположенным в ступенях, сидениях и дне чаши. После срабатывания каждой камеры , вода поступает в соответствующую форсунку, которая поднимаясь поворачивается на несколько градусов и позволяет потоку вдоль дна бассейна перемещать мусор к всасывающему стройству Vantage MDX® и далее в фильтр.
                figure.row
                  .offset-lg-2.col-lg-8
                    img(data-src="./img/aqua.gif", alt="image").lazyload
                h5 Преимущества использования Compass Pools Vantage
                ul 
                  li Не тратит лишнюю электроэнергию. Разделительный клапан срабатывает за счет часового механизма , приводимого в действие потоком воды.
                  li Быстро и на постоянной основе удаляет мусор.
                  li Отвечает нормам безопасности (конструкция MDX).
                  li Уменьшает траты на использование химических средств (в следствии активного перемешивания воды).
                  li Блокирует рост водорослей и размножение бактерий (в следствии активного перемешивания воды).
                  li Предотвращает потерю тепла, экономит энергию (в следствии активного перемешивания воды).
                p К дополнительным плюсам новой самоочищающей системы можно отнести механическую работу устройства. Это влияет на долговечность и надежность оборудования. Помимо поддержания чистоты в бассейне, Compass Pools Vantage сохраняет и равномерно распределяет тепло, дезинфекторы, устраняет застойные зоны. Система работает вместе с фильтрующими элементами, поэтому не нуждается в дополнительном управлении.
                figure.image.image_cover.full-size-image 
                  img(data-src="./img/dsdd.jpg", alt="image").lazyload
                h5 Преимущества использования Compass Pools Vantage
                p Прогретая вода естественным образом поднимается в верхнюю часть, а более прохладная устремляется вниз, но непрерывная циркуляция воды поддерживает одинаковую температуру в чаще, перемешивая все слои. Теперь не нужно ждать, пока вода в бассейне станет оптимальной, плавать можно сколько захочется.
                .iframe.row
                  .offset-lg-2.col-lg-8
                    .iframe__element
                      iframe(data-src='https://www.youtube.com/embed/My3dNv5BCkA' title='YouTube video player').lazyload
                h5 Уменьшается потребление воды и дезинфекторов
                p Под прямыми лучами солнца вода испаряется быстрее , химические вещества расходуются интенсивнее. Однако благодаря равномерному перемешиванию воды системой Compass Pools Vantage, траты на реагенты снижаются до 50%, а испарение происходит менее интенсивно.
                p Так же снижаются затраты на нагрев воды - это связано с особенностями работы циркуляционной системы, она равномерно перемешивает воду, что снижает расходы на обогрев бассейна в среднем до 30%.
                h5 Новые стандарты в системе очистки воды
                p Специальный мусоросборник VantageMDX® работает аккуратно, что гарантирует безопасность детям. Имеет воронкообразную щелевую форму, позволяющую быстро захватить грязь и мусор. Этот элемент никогда не забивается и отвечает всем европейским стандартам качества. Он лишь незначительно выступает над поверхностью чаши. Можно заказать этот элемент в трех расцветках.
                p Система VantageMDX® способна следить за чистотой всего резервуара — от дна до стенок чаши. Настроить оборудование можно на очистку лежаков, ступенек, углов, сидений. Оно эффективно работает там, где другие технологии бессильны.
                h5 Безопасность VantageMDX®
                p Во время работы системы самоочистки можно спокойно пользоваться бассейном, не волнуясь о безопасности и удобстве, если наступить ногой на подающий элемент, он легко вдавливается, не причиняя дискомфорта.
                h5 Красивый дизайн, высокое качество
                p Техника Vantage почти не заметна. Она состоит из форсунок, которые легко подобрать под цвет чаши.
                figure.image.image_cover.full-size-image 
                  img(data-src="./img/shapeimage_2 5.jpg", alt="image").lazyload
                h5 Отсутствие аналогов
                p Запатентованные форсунки, благодаря своей форме и размерам, способны охватывать в 4 раза больше площади, чем стандартные элементы. При этом они эффективнее справляются с мусором. Разработчики Compass Pools и Paramount® также запатентовали водный клапан WaterValve, водную завесу WaterCurtain и MDX, мусоросборник Debris Containment Canister, зону для сбора грязи Debris Collection Zone.
                p Монтировать эффективную систему очистки Compass Pools Vantage можно на новых композитных бассейнах , распределив подающие форсунки определенным образом. Инсталляцию оборудования должны выполнять специалисты- это залог того, что пользователи и владелец техники смогут насладиться плаванием в чистом, современном и безопасном бассейне долгое время.

.modal.modal-text#Slipstop(style='opacity:0;visibility:hidden;')
  .modal__wrapper.pt-2.pb-2(data-scroll-lock-scrollable)
    .modal__container.container 
      .row
        .col-xl-10
          .modal-block.pt-2.pb-2
            button.modal-close(aria-label='close' data-modal='close')
            .row
              .offset-xl-1.col-xl-10
                h5 Технология SlipStop® — внимание к деталям
                p Технология Slipstop® — это уникальный подход к антискользящим поверхностям внутри чаши бассейна.
                p Зачастую, только кромки ступеней имеют противоскользящую поверхность. Однако, если бассейном пользуются дети, то такой защиты явно недостаточно, поскольку их ступня намного меньше чем у взрослых. Также большинство защитных покрытий напоминают наждачную бумагу и имеют шероховатую поверхность, что приводит к быстрому их загрязнению.
                p Технология Slipstop® в отличие от общепринятых антискользящих материалов, покрывает все горизонтальные поверхности — дно, ступени и сидения в бассейне. При этом покрытие абсолютно незаметно под толщей воды, даже не близком расстоянии.
                figure.image.image_cover.full-size-image 
                  img(data-src="./img/shapeimage_2 1.jpg", alt="image").lazyload
                p Микрочастицы Slipstop® идеально гладкие, не вызывают дискомфорт и не загрязняются, обеспечивают устойчивость и безопасность людей независимо от возраста.

.modal.modal-text#jalousie(style='opacity:0;visibility:hidden;')
  .modal__wrapper.pt-2.pb-2(data-scroll-lock-scrollable)
    .modal__container.container 
      .row
        .col-xl-10
          .modal-block.pt-2.pb-2
            button.modal-close(aria-label='close' data-modal='close')
            .row
              .offset-xl-1.col-xl-10
                h5 Жалюзи — эффективное решение для обслуживания бассейнов
                p Для эффективного решения всех выше перечисленных проблем используют жалюзи для бассейнов. Легкие, прочные конструкции — настоящая находка для владельцев крытых и уличных бассейнов. Они обладают следующими преимуществами:
                h6 Безопасность 
                p Покрытия способны выдерживать нагрузку до 100 кг. Если вблизи открытой воды будут гулять дети или взрослые, не умеющие плавать, за их здоровье не придется переживать даже при случайных падениях.
                h6 Минимальные энергетические и физические затраты при обслуживании
                p Жалюзи существенно облегчают труд человека. При их наличии не нужно постоянно бороться с падающим мусором, насекомыми. Системы фильтрации, подогрева также работают в экономном режиме. Они не перегружаются, а значит потребляют меньше энергоресурсов, требуют меньших затрат при обслуживании.
                h6 Отсутствие существенных испарений
                p Закрытый искусственный водоем не нуждается в существенной подпитке, вода дольше остается теплой.
                h6 Отсутствие цветения
                p Ограниченный контакт воды с прямыми солнечными лучами тормозит или полностью останавливает процесс цветения. Отпадает необходимость в мытье стен при образовании на них зеленых пятен.
                h6 Продуманное внесезонное обслуживание 
                p Закрытый бассейн на холодный период выглядит презентабельно. А оборудование и чаша полностью защищены от пагубного влияния погоды.
                h6 Практичность, долговечность
                p Элементы жалюзи и обслуживающее оборудование изготавливаются из прочных, коррозиестойких материалов. Поэтому все комплектующие имеют большой эксплуатационный запас.
                figure.image.image_cover.full-size-image 
                  img(data-src="./img/fff.jpg", alt="image").lazyload
                h5 В чем разница между разными покрытиями для бассейнов?
                p На выбор потребителей рынок предлагает несколько видов защитных покрытий для бассейнов — плавающие пузырьковые, мягкие зимние и защитные жалюзи.
                p Первый вид выполняет следующие функции: предотвращает попадание мусора в чашу, предупреждает испарение и поддерживают оптимальный температурный режим воды.
                p Второй — предназначен для зимнего укрытия бассейнов. Жалюзи для бассейнов, кроме перечисленного, еще и отвечают за безопасность. При случайном падении животного или человека они не дают им уйти под воду.
                figure.image.image_cover.full-size-image 
                  img(data-src="./img/aaa.jpg", alt="image").lazyload
                h5 Защитные жалюзи для бассейнов и механизмы управления
                p Защитные жалюзи для бассейнов изготавливаются из водостойких прочных материалов. При сборке они наматываются на ролик. Могут работать в ручном режиме и подключаться к автоматике, оснащаться таймером для выбора режима работы системы, пультом ДУ. По желанию заказчика система управления может быть подключена к системе «умный дом», контролироваться на расстоянии с помощью приложения, установленного на смартфон.
                p Подбираются жалюзи по типу использования — для закрытых помещений или открытых площадок. Наиболее востребованным материалом для их изготовления является нержавеющая сталь. Она отлично держит форму, отличается долговечностью, надежностью в эксплуатации. Жалюзи производятся по индивидуальным замерам заказчика в разных цветовых решениях. Они повторяют контуры чаши и полностью перекрывают е
                figure.image.image_cover.full-size-image 
                  img(data-src="./img/ccc.jpg", alt="image").lazyload

.modal.modal-text#servis(style='opacity:0;visibility:hidden;')
  .modal__wrapper.pt-2.pb-2(data-scroll-lock-scrollable)
    .modal__container.container 
      .row
        .col-xl-10
          .modal-block.pt-2.pb-2
            button.modal-close(aria-label='close' data-modal='close')
            .row
              .offset-xl-1.col-xl-10
                h5 Квалифицированный сервис