include ../blocks/variables
block variables
doctype html
html(lang='ru')
  head
    meta(charset="utf-8")
    title #{sitename} - Композитные бассейны премиум качества
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='format-detection' content='telephone=no')
    meta(name='description' content='Композитные бассейны премиум качества')
    //color
    meta(name="theme-color" content="#fff")
    //favicons
    link(rel='icon' type='image/png' sizes='32x32' href='https://compasspools-centr.ru/img/favicons/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='https://compasspools-centr.ru/img/favicons/favicon-16x16.png')
    //open graph
    meta(property='og:title' content='Композитные бассейны премиум качества')
    meta(property='og:site_name' content=sitename)
    meta(property='og:url' content='https://compasspools-centr.ru/') 
    meta(property='og:description' content='Строим со знанием того, зачем бассейны нужны вам, как оптимизировать их конфигурацию под ваши потребности, нужды и как ими пользоваться с максимальной пользой и удовлетворением.')
    meta(property='og:image' content='https://compasspools-centr.ru/img/favicons/apple-touch-icon.png')
    //theme
    link(rel="stylesheet" href="./styles/theme.css")
    //captcha
    link(rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/5.7.2/css/all.min.css")
  body(style='overflow:hidden;position:fixed;height:100%;width:100%;')
    include ../blocks/preloader

    .wrapper(style='opacity:0;visibility:hidden;')
      include ../blocks/header
      main.main
        block content
      include ../blocks/footer


    //modals
    include ../blocks/modals

    //cursor
    .cursor(style='opacity:0;visibility:hidden;')
      .cursor__element
        svg.icon.cursor__magnifier
          use(xlink:href='./img/icons/sprite.svg#magnifier')
    
    //jquery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    
    //captcha
    script(src="./scripts/libs/captcha.js")

    //fonts
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap' rel='stylesheet')

    //fancybox
    link(rel="stylesheet" href="./scripts/libs/jquery.fancybox/jquery.fancybox.min.css")
    script(src='./scripts/libs/jquery.fancybox/jquery.fancybox.min.js')

    //css
    link(rel="stylesheet" href="./styles/common.css")

    //js
    script(src="./scripts/main.js")

    // Yandex.Metrika counter
    script(type='text/javascript').
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
      ym(83213308, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
      });
    noscript
      div
        img(src='https://mc.yandex.ru/watch/83213308' style='position:absolute; left:-9999px;' alt='')
    
    // /Yandex.Metrika counter
